@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../imagenes/asesoria.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

main div h1 {
  font-size: 55px;
}

.header_seccion {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: silver 1px 1px 1px;
  height: 250px;
  font-family: "Caveat", cursive;
}

.row {
  text-align: center;
  width: 100%;
  padding-left: 25px;
  padding-bottom: 15px;
}

ul {
  text-decoration: none;
  list-style: none;
  padding-left: 15px;
}

.card-title {
  font-size: 30px;
  font-weight: 1000;
}

.card-body {
  font-family: "Quicksand", sans-serif;
  color: black;
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);

  font-size: 20px;
  font-weight: bold;
}

.card-footer {
  font-size: 30px;
  font-weight: bold;
}
