html {
  font-size: 62.5%;
}

.logo {
  width: 100px;
  height: auto;
}

ul {
  list-style: none;
  font-size: 0;
}
li {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  width: 10%;
  position: relative;
  font-size: 18px;
}
ul ul {
  position: absolute;
  display: none;
}
ul ul li {
  display: block;
}
ul li:hover ul {
  display: block;
}
