@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("../imagenes/body-5.jpg");
  background-position: center;
  background-size: cover;
}

a {
  text-decoration: none;
}

html,
section {
  animation-name: aparecer;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1.5s;
  animation-delay: 0s;
}

@keyframes aparecer {
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 25%;
  }
  50% {
    opacity: 50%;
  }
  75% {
    opacity: 75%;
  }
  100% {
    opacity: 100%;
  }
}

/* MAIN */

/* MAIN DIV1 */

/* Imagen, logo y titulos */

.main_div1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../imagenes/main-div-1.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
 
}

.main_div1-logo {
  width: 250px;
  height: auto;
  justify-self: center;
  align-self: center;
  margin-top: 125px;
  border-radius: 200px;
  background-color: yellowgreen;
}

.main_div1-titulo {
  justify-self: center;
  color: white; /*modificacion*/
  font-size: 75px;
  font-weight: bolder;
  font-family: "Caveat", cursive;
  letter-spacing: 10px;
  text-shadow: 2px 2px 2px grey;
  margin: 0;
  height: 100px;
}

.main_div1-subtitulo {
  justify-self: center;
  color: white;
  font-size: 25px;
  font-weight: bolder;
  text-shadow: 3px 3px 3px black;
  font-family: "Caveat", cursive;
  margin: 0px 0px 200px 0px;
  height: 25px;
}

/* MAIN DIV2 */
/* Pequeño parrafo sobre nos */

.main_div2 {
  display: grid;
  grid-template-columns: 1fr;
  padding: 75px 200px 75px 200px;
}

.main_div2-p {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 25px;
  color: white;
  text-shadow: silver 1px 1px 1px;
}

.btn-lg {
  font-family: "Quicksand", sans-serif;
  background-color: transparent;
  height: 50px;
  font-size: 20px;
  font-weight: bolder;
  text-shadow: forestgreen 2px 2px 2px;
}


/*footer {
  grid-template-columns: 0.3fr 0.7fr;
  background-color: black;
  color: white;
  width: auto;
  opacity: inherit;
}
*/
/*
.footer {
  background-color: #756B64;
  color: white;
  display: grid;
  grid-template-rows: 3fr;
  grid-template-columns: auto;
  width: 100vw;
}

.footer .footer__logo {
  display: inline-block;
  text-align: center;
}

.footer .footer__info {
  justify-content: center;
  align-self: center;
  text-shadow: 2px 2px 5px black;
}

.footer h4 a {
  color: white;
  text-decoration: none;
}

.footer .footer__redesSociales {
  display: flex;
  align-self: center;
  justify-content: space-evenly;
}

.footer .derechos {
  display: flex;
  justify-content: center;
  margin: 0px;
  background-color: black;
  color: white;
  grid-area: derechos;
  height: auto;
}*/
.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#282d32;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
  text-align: center;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
  text-align: center  ;
}

.footer-dark .flex-center {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark{
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}
